body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
section{
    width: 8cm !important;
    height: 4cm;
}
button{
    width: 70px; 
    height: 70px; 
    padding: 10px;
    border-radius: 50%; 
    border: none; 
    color: white; 
    text-align: center;  
    text-decoration: none;
    display: inline-block; 
    font-size: 14px; 
    
}
